@page "/"
@using ProjectReviewFormApp.Services
@inject FeedbackService FeedbackService

<h1>Feedback from Stakeholders</h1>

@if (feedbacks == null)
{
    <p>Loading...</p>
}
else
{

    <table class="table">
    <thead>
        <tr>
                <th>Name</th>
                <th>Project Name</th>

                <th>Helpfuness</th>
                <th>Logistics</th>
                <th>Key Takeaways</th>
                <th>Submitted on</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var feedback in feedbacks)
            {
                <tr>
                    <p>
                        <th>@feedback.FirstName @feedback.LastName</th>
                        <th>@feedback.ProjectName</th>
                        <th> @feedback.Helpfulness </th>
                        <th>@feedback.LogisticsSatisfaction </th>
                        <th>@feedback.KeyTakeaways</th>
                        <th>@feedback.ReviewDate.ToShortDateString()</th>
                    </p>
                </tr>
            }
        </tbody>
    </table>

}

@code {
    private List<Feedback> feedbacks;

    // Constructor
    public Home()
    {
        feedbacks = new List<Feedback>(); // Initialize with an empty list
    }

    protected override async Task OnInitializedAsync()
    {
        feedbacks = await FeedbackService.GetFeedbacksAsync();
    }
}
